@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.border-js_yellow {
		border-color: theme('colors.js_yellow');
	}
}

.app {
	@apply flex flex-col min-h-screen;
}

/* Nav */
.nav {
	@apply flex justify-between w-full mb-6 p-16 gap-5 pt-3 pb-0 shadow-lg overflow-x-hidden;
}

.nav_link {
	@apply font-roboto mb-3 text-sm text-gray-500 outline-0 uppercase;
}

.social_media {
	@apply flex gap-3 mb-3 w-32 h-5 justify-center items-center;
}

.dropdown {
	@apply flex flex-col absolute z-10 bg-white w-28 left-12 pb-1;
}

.dropdown_link {
	@apply text-sm mx-4 font-roboto text-gray-700 hover:text-gray-500 font-medium uppercase;
}

/* header */
.header {
	@apply w-full flex p-5 justify-around gap-5 flex-wrap items-center border-b-4 border-js_yellow shadow-lg;
}

.search {
	@apply block w-full rounded-md border border-gray-200 bg-white py-2.5 font-roboto pl-5 pr-12 text-sm shadow-lg font-medium focus:border-black focus:outline-none focus:ring-0;
}

/* footer */
.footer {
	@apply w-full flex justify-around bg-js_black self-end p-10 pt-24 place-items-center flex-nowrap gap-5 relative;
}

.footer:before {
	content: '';
	@apply absolute top-0 left-1/2 transform -translate-x-1/2 h-px w-4/5 bg-zinc-500;
	margin-top: 3.5rem;
}

.quiz_button {
	@apply bg-js_black hover:bg-js_yellow text-white font-semibold py-2 px-4 rounded-lg mx-2;
}
